
.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 100px;
}

.searchBar {
    background-color: white;
    width: 700px;
    border-radius: 27px;
    padding: 0px 10px;
    height: 3.5rem;
    box-shadow: 0px 0px 10px #ddd;
    display: flex;
    align-items: center;
}

.search {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
}

.search:focus {
    outline: none;
}

.searchIcon {
    color: #E76F51;
    height: 50%;
    width: 13%;
}

.buttonContainer {
    width: 85px;
    padding: 0;
}

.userButton {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px #ddd;
    border-radius: 10px;
}
