.backContainer {
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  position: fixed;
}

.backButton {
  background-color: #8bc9f3;
  cursor: grab;
}

.mapContainer {
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  position: fixed;
}

.mapButton {
  background-color: #f6f8f9;
  cursor: grab;
}
