.backContainer {
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  position: fixed;
}


.arrowLeft {
  cursor: grab;
  color: #1FA5FF;
}

.mapContainer {
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  position: fixed;
}

.mapButton {
  background-color: #f6f8f9;
  cursor: grab;
}

.upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.bathroomTitle {
  background-color: #E7C15F;
  width: 20%;
  font-family: 'Montserrat Bold';
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.ReviewBox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.reviewText {
  font-family: 'Montserrat Medium';
  font-size: 12px;
  width: 300px;
  height: 150px;
  border-radius: 15px;
  padding: 5px;
  border: transparent;
  box-shadow: 1px 4px 6px #aba9a9;
}

.SubmitSection{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.submitButton{
  border: transparent;
  color: white;
  background-color:#3fa9f5;
  box-shadow: 1px 3px #d4d2d2;
  border-radius: 15px;
  font-family: 'Montserrat Light';
  font-size: 12px;
  height: 35px;
  width: 250px;
}

.slideDeez {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


