.page {
  margin: 50px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImg {
  height: 150px;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 20px;
}

.midSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  box-shadow: 0px 5px 7px #bbbaba;
  width: 700px;
  height: 135px;
  border-radius: 15px;
  min-width: 200px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blueBox {
  width: 20px;
  height: 135px;
  background-color: #1fa5ff;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  min-width: 20px;
}

.pw {
  border-top: 1px solid #8bc9f3;
  border-bottom: 1px solid #8bc9f3;
  width: 100%;
}

.textInfo {
  padding: 12px;
  font-size: 17px;
  font-family: "Montserrat Light";
}

.categories {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}

.catText {
  font-family: "Abeezee";
}

.backContainer {
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  position: fixed;
}

.backButton {
  background-color: #8bc9f3;
  cursor: grab;
}
